.container {
  width: 50%;
  margin: auto;
  background-color: rgb(18, 230, 230);
}

.container input {
  text-align: center;
  width: 70%;
  height: 30px;
  border: 2px solid green;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.container_time_slot {
  margin: auto;
  width: 50%;
  min-height: 100vh;
  background-color: white;
  margin-top: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: pink;
}

/* .container_time_slot div {
  width: 80%;
  height: 10%;
  background-color: white;
  margin: 4px;
  color: blue;
  display: inline-block;
} */
/* defining the media queries for the 75% */
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin: auto;
    background-color: rgb(44, 231, 44);
  }
  .container_time_slot {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: auto;
    background-color:rgb(90, 189, 232);
  }
  .container_time_slot {
    width: 100%;
  }
}
.heading_container {
  background-color: red;
}
/* Added the card into this */
.card {
  margin: 10px 10px;
  width: 100%;
}
.card-body {
  background-color: black;
  border-radius: 10px;
}
.card-text {
  color: blue;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.card-title {
  color: red;
  text-align: center;
}
/* Animation properties */
/* .animate__heartBeat {
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */

.animate__bounce {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.animate__pulse {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
